*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url(../fonts/Roboto-Black.ttf);
}
:root {
  --light-blue: #2196f3;
  --medium-gray: #757575;
  --light-gray: #afb1b8;
  --black-color: #212121;
  --dark-gray: #2f303a;
  --white-gray: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
}

.form__button, .mailing__button, .hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background-color: var(--light-blue);
  border-radius: 4px;
  cursor: pointer;
}

.company__logo {
  width: 170px;
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  fill: var(--light-gray);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company__logo:hover {
  border-color: var(--light-blue);
  fill: var(--light-blue);
  transition-property: fill, border;
  transition-duration: 250ms;
  animation: bounceIn;
  animation-duration: 0.7s;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  border: 2px solid red;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 1px 0;
}

.logo {
  padding-bottom: 24px;
}

.nav {
  color: black;
  font-weight: 500;
  font-size: 14px;
  color: var(--light-blue);
  display: flex;
  gap: 30px;
}

.nav__link {
  position: relative;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:link, .nav__link:visited {
  color: var(--black-color);
}
.nav__link:hover {
  color: var(--light-blue);
  transition-property: color;
  transition-duration: 250ms;
  animation: bounceIn;
  animation-duration: 0.7s;
}
.nav__link::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--light-blue);
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  border-radius: 4px;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover::after {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 24px;
}

.contact__link {
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:link, .contact__link:visited {
  color: var(--black-color);
}
.contact__link:hover {
  color: var(--light-blue);
  fill: var(--light-blue);
  transition-property: color, fill;
  transition-duration: 250ms;
}

.contact__link:hover .contact__icon--mail {
  animation: zoomIn;
  animation-duration: 0.3s;
}

.contact__link:hover .contact__icon--smartphone {
  animation: jackInTheBox;
  animation-duration: 0.5s;
}

.contact__icon--mail {
  width: 16px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon--smartphone {
  width: 10px;
  height: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: var(--dark-gray);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 50%), url(../img/Studio/people-works.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 210px;
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__button {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero__title {
  line-height: 1.3;
  font-weight: 900;
  text-align: center;
  font-size: 44px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 60%;
  text-transform: uppercase;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages {
  padding-bottom: 0px;
}

.advantages__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__card {
  width: 270px;
}

::before {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 85px;
  padding-bottom: 25px;
  background-color: var(--white-gray);
}

.advantages__card:nth-child(1)::before {
  content: url(../img/Studio/antenna.svg);
}

.advantages__card:nth-child(2)::before {
  content: url(../img/Studio/clock.svg);
}

.advantages__card:nth-child(3)::before {
  content: url(../img/Studio/diagram.svg);
}

.advantages__card:nth-child(4)::before {
  content: url(../img/Studio/astronaut.svg);
}

.advantages__name {
  line-height: 1.1;
  font-size: 14px;
  font-weight: 700;
  margin-top: 55px;
  margin-bottom: 10px;
  color: var(--black-color);
}

.advantages__description {
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
  color: var(--medium-gray);
}

.section__title {
  line-height: 1.1;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.about__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumb {
  position: relative;
}

.thumb__img {
  width: 370px;
}

.thumb__text {
  position: absolute;
  bottom: 4px;
  left: 0px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

.team {
  background-color: #f5f4fa;
  margin-top: 0px;
}

.team__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__page {
  background-color: white;
  margin: 0px;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.418);
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 16px;
  text-align: center;
}

.team__name {
  line-height: 1.1;
  font-weight: 500;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.team__work {
  color: var(--medium-gray);
}

.social__list {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

.social__links {
  padding: 12px;
  display: flex;
  border-radius: 100px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--light-gray);
}
.social__links:hover {
  fill: #ffffff;
  background-color: var(--light-blue);
  border-radius: 100px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: rubberBand;
  animation-duration: 0.5s;
}

.social__icon {
  width: 20px;
  height: 20px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

footer {
  line-height: 1.1;
  font-weight: 400;
  font-size: 14px;
  background-color: #2f303a;
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrap {
  display: flex;
}

.footer-img {
  margin-bottom: 20px;
}

.support {
  padding-top: 24px;
  padding-right: 70px;
}

.support__address {
  display: flex;
  flex-direction: column;
}

.support__street,
.support__email,
.support__tel {
  font-style: normal;
}

.support__email:link,
.support__email:visited,
.support__tel:link,
.support__tel:visited {
  color: #7d7e84;
}

.support__street:link,
.support__street:visited {
  color: #ffffff;
}

.join {
  padding-right: 93px;
}

.join__text {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.social__list--join {
  display: flex;
  gap: 10px;
  padding-bottom: 0px;
}

.social__links--join {
  padding: 12px;
  display: flex;
  border-radius: 100px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.social__links--join:hover {
  fill: #ffffff;
  background-color: var(--light-blue);
  border-radius: 100px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: rubberBand;
  animation-duration: 0.5s;
}

.mailing__text {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing__box {
  display: flex;
  gap: 12px;
}

.mailing__input {
  width: 358px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  background-color: var(--dark-gray);
}

.mailing__button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* inset: 0; */
  background-color: rgba(0, 0, 0, 0.1019607843);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding-top: 40px;
  padding-left: 23px;
  padding-right: 23px;
  background-color: #ffffff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is__hidden .modal {
  transform: translate(-50%, -200%) scale(0.1);
  opacity: 0;
}

.close__button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 100px;
}

.close__button:hover {
  color: var(--light-blue);
}

.backdrop.is__hidden {
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.no__scrool {
  overflow: hidden;
  padding-right: 18px;
}

.form__name {
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__part {
  padding-bottom: 10px;
}

.form__button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form__text {
  font-size: 12px;
  font-weight: 400;
  color: var(--medium-gray);
}

.form__box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}
.form__box:focus-within {
  border-color: var(--light-blue);
  fill: var(--light-blue);
}

.form__icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
}
.form__icon:focus-within {
  fill: var(--light-blue);
}

.form__input {
  width: 448px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-right: 12px;
  border: 0px solid #000000;
}
.form__input:focus-within {
  border-color: #2196f3;
}

.form__comment {
  width: 480px;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.checkbox {
  display: flex;
  gap: 8px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.checkbox__text {
  font-size: 14px;
  font-weight: 400;
  color: var(--medium-gray);
}

.checkbox__text2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-blue);
  text-decoration: underline;
}