@font-face {
    font-family: "Roboto";
    font-weight: 100;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url(../fonts/Roboto-Black.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --light-blue: #2196F3;
    --medium-gray: #757575;
    --light-gray: #ECECEC;
    --black-color: #212121;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    border-bottom: 2px solid var(--light-gray);
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

#nav-site {
    color: black;
    font-weight: 500;
    font-size: 14px;
    color: var(--light-blue);
    display: flex;
    gap: 30px;
}

.nav-link-site{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link-site:hover:after{
    content: "";
    height: 4px;
    width: 100%;
    background-color: #2196F3;
}

#nav-document {
    display: flex;
    gap: 30px;
}

.nav-link-site:link,
.nav-link-site:visited,
.nav-link-document:link,
.nav-link-document:visited {
    color: var(--black-color);
}

.nav-link-site:hover {
    color: var(--light-blue);
}

a,
address {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.second-navigation-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.second-navigation-btn {
    line-height: 1.6;
    font-weight: 500;
    font-size: 16px;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;

    margin-left: 5px;
    margin-right: 5px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
}

.second-navigation-btn:hover {
    background-color: var(--light-blue);
    color: white;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.36);
}

.posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
    gap: 30px;
}

.projects {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    flex-basis: calc((100% - 60px)/3);
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.projects:hover {
    box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.36);
}

.projects-img {
    width: 100%;
    display: block;
}

.projects-name {
    line-height: 2.0;
    font-weight: 700;
    font-size: 18px;
    color: var(--black-color);
    margin-left: 24px;
}

.projects-category {
    line-height: 1.8;
    font-weight: 400;
    font-size: 16px;
    color: var(--medium-gray);
    margin-left: 24px;
}

.projects-overlay {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #2196F3E5;
    transform: translateX(200%);
    transition: transform 0.5s ease-in;
}

.projects-overlay-text {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
}

.projects:hover .projects-overlay {
    transform: translateZ(0);
}

footer {
    line-height: 1.1;
    font-weight: 400;
    font-size: 14px;
    background-color: #2F303A;

    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-img {
    margin-bottom: 20px;
}

#footer-address {
    display: flex;
    flex-direction: column;
}

.footer-email:link,
.footer-email:visited,
.footer-tel:link,
.footer-tel:visited {
    color: #7d7e84;
}

.footer-street:link,
.footer-street:visited {
    color: #ffffff;
}