@font-face {
    font-family: "Roboto";
    font-weight: 100;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url(../fonts/Roboto-Black.ttf);
}

:root {
    --light-blue: #2196F3;
    --light-gray: #757575;
    --black-color: #212121;
}

nav {
    font-weight: 500;
    font-size: 14px;
    color: var(--light-blue);
}

.nav-link:link,
.nav-link:visited {
    color: var(--black-color);
}

.nav-link:hover {
    color: var(--light-blue);
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}


.second-navigation-btn {
    line-height: 1.6;
    font-weight: 500;
    font-size: 16px;
    background-color: #F5F4FA;
    border: none;
}

.posts-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects{
    border: 1px solid #eeeeee;
}

.projects-name {
    line-height: 2.0;
    font-weight: 700;
    font-size: 18px;
    color: var(--black-color);
}

.projects-category {
    line-height: 1.8;
    font-weight: 400;
    font-size: 16px;
    color: var(--light-gray);
}

footer {
    line-height: 1.1;
    font-weight: 400;
    font-size: 14px;
    background-color: #2F303A;
}

.footer-email:link,
.footer-email:visited,
.footer-tel:link,
.footer-tel:visited {
    color: #7d7e84;
}

.footer-street:link,
.footer-street:visited {
    color: #ffffff;
}