@font-face {
    font-family: "Roboto";
    font-weight: 100;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url(../fonts/Roboto-Black.ttf);
}

:root {
    --light-blue: #2196F3;
    --light-gray: #757575;
    --black-color: #212121;
    --dark-gray: #2F303A;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

    outline: 2px dashed red;
}

nav {
    color: black;
    font-weight: 500;
    font-size: 14px;
    color: var(--light-blue);
}

.nav-link:link,
.nav-link:visited {
    color: var(--black-color);
}

.nav-link:hover {
    color: var(--light-blue);
}

a {
    text-decoration: none;
}

#service {
    background-color: var(--dark-gray);
}

button {
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--light-blue);
}

h1 {
    line-height: 1.3;
    font-weight: 900;
    text-align: center;
    font-size: 44px;
    color: #ffffff;
}

.header-wrap{
    display: flex;

    padding: 17px 0;
}

.advantages-name {
    line-height: 1.1;
    font-size: 14px;
    font-weight: 700;
    color: var(--black-color);
}

.advantages-description {
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
    color: var(--light-gray);
}

.advantages-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-text {
    line-height: 1.1;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.about-img{
    width: 370px;
    padding-left: 30px;
    padding-right: 30px;
}

.about-wrap{
    display: flex;
    flex-wrap: wrap;
}

.team-text {
    line-height: 1.1;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.team {
    background-color: #F5F4FA;
}

.team-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-page{
    background-color: white;
}

.team-desc{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    line-height: 1.1;
    font-weight: 500;
    font-size: 16px;
}

.team-work {
    color: var(--light-gray);
    line-height: 1.1;
    font-weight: 400;
    font-size: 16px;
}

footer {
    line-height: 1.1;
    font-weight: 400;
    font-size: 14px;
    background-color: #2F303A;
}

.footer-email:link,
.footer-email:visited,
.footer-tel:link,
.footer-tel:visited {
    color: #7d7e84;
}

.footer-street:link,
.footer-street:visited {
    color: #ffffff;
}