.overlay__wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  @extend %overlay;
}

.overlay__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
}

.projects:hover .overlay {
  transform: translateZ(0);
}
