.projects {
  @extend %projects;
}

.projects__img {
  width: 100%;
  display: block;
}

.projects__name {
  line-height: 2;
  font-weight: 700;
  font-size: 18px;
  color: var(--black-color);
  margin-left: 24px;
  padding-bottom: 4px;
}

.projects__category {
  line-height: 1.8;
  font-weight: 400;
  font-size: 16px;
  color: var(--medium-gray);
  margin-left: 24px;
}

.projects__discription {
  padding: 20px 0;
}
