.advantages__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__card {
  width: 450px;
  margin-bottom: 70px;
}

::before {
  padding: 85px 190px 25px 190px;
  background-color: var(--white-gray);
}

.advantages__card:nth-child(1)::before {
  content: url(../img/Studio/antenna.svg);
}

.advantages__card:nth-child(2)::before {
  content: url(../img/Studio/clock.svg);
}

.advantages__card:nth-child(3)::before {
  content: url(../img/Studio/diagram.svg);
}

.advantages__card:nth-child(4)::before {
  content: url(../img/Studio/astronaut.svg);
}

.advantages__card:nth-child(4) {
  margin: 0;
}

.advantages__name {
  line-height: 1.1;
  font-size: 14px;
  font-weight: 700;
  margin-top: 55px;
  margin-bottom: 10px;
  color: var(--black-color);
}

.advantages__description {
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
  color: var(--medium-gray);
}

@media (min-width: 768px) {
  .advantages__wrap {
    gap: 24px;
  }

  .advantages__card {
    width: 354px;
    margin-bottom: 25px;
  }

  ::before {
    padding: 85px 142px 25px 142px;
  }
}

@media (min-width: 1200px) {
  .about__wrap {
    flex-wrap: nowrap;
  }

  .advantages__card {
    width: 270px;
    margin-bottom: 0px;
  }

  ::before {
    padding: 85px 100px 25px 100px;
  }
}
