.advantages__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__card {
  width: 270px;
}

::before {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 85px;
  padding-bottom: 25px;
  background-color: var(--white-gray);
}

.advantages__card:nth-child(1)::before {
  content: url(../img/Studio/antenna.svg);
}

.advantages__card:nth-child(2)::before {
  content: url(../img/Studio/clock.svg);
}

.advantages__card:nth-child(3)::before {
  content: url(../img/Studio/diagram.svg);
}

.advantages__card:nth-child(4)::before {
  content: url(../img/Studio/astronaut.svg);
}

.advantages__name {
  line-height: 1.1;
  font-size: 14px;
  font-weight: 700;
  margin-top: 55px;
  margin-bottom: 10px;
  color: var(--black-color);
}

.advantages__description {
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
  color: var(--medium-gray);
}
