.company__logo {
  width: 170px;
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  border: 1px solid var(--light-gray);
  border-radius: 4px;
  fill: var(--light-gray);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: var(--light-blue);
    fill: var(--light-blue);
    transition-property: fill, border;
    transition-duration: 250ms;

    animation: bounceIn;
    animation-duration: 0.7s;
  }
}
