footer {
  line-height: 1.1;
  font-weight: 400;
  font-size: 14px;
  background-color: #2f303a;

  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__information {
  width: 232px;
}

@media (min-width: 768px) {
  .footer__wrap {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
    column-gap: 85px;
  }
}

@media (min-width: 1200px) {
  .footer__wrap {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    column-gap: 0px;
  }

  .footer__information {
    margin-right: 70px;
  }
}
