.form__comment {
  width: 400px;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;

  border: 1px solid #21212133;
}

@media (min-width: 1200px) {
  .form__comment {
    width: 480px;
  }
}
