.checkbox {
  display: flex;
  gap: 8px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.checkbox__text {
  font-size: 14px;
  font-weight: 400;
  color: var(--medium-gray);
}

.checkbox__text2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-blue);
  text-decoration: underline;
}
