.modal-form-input-box {
  display: flex;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #21212133;
  border-radius: 4px;
  margin-top: 4px;
}

.modal-form-input-box:focus-within {
  border-color: var(--light-blue);
  fill: var(--light-blue);
}

.modal-form-input-icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
}

.modal-form-input-icon:focus-within {
  fill: var(--light-blue);
}

#modal-form-input {
  width: 448px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-right: 12px;

  border: 0px solid #000000;
}

.modal-form-input:focus-within {
  border-color: #2196f3;
}
