.join {
  padding-right: 93px;
}

.join__text {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 20px;
  text-transform: uppercase;

  color: #ffffff;
}

.join__links__list {
  display: flex;
  gap: 10px;
  padding-bottom: 0px;
}

.join__links {
  fill: #ffffff;
  background-color: #ffffff1a;
}
