.join {
  padding-right: 93px;
}

.join__text {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 20px;
  text-transform: uppercase;

  color: #ffffff;
}

.social__list--join {
  display: flex;
  gap: 10px;
  padding-bottom: 0px;
}

.social__links--join {
  @include join-links(#ffffff, #ffffff1a);
}
