.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* inset: 0; */
  background-color: #0000001a;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding-top: 40px;
  padding-left: 23px;
  padding-right: 23px;
  background-color: #ffffff;
  border-radius: 5px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -200%) scale(0.1);
  opacity: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;

  background-color: #ffffff;
  border: 1px solid #0000001a;
  border-radius: 100px;
}

.close-button:hover {
  color: var(--light-blue);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.no-scrool {
  overflow: hidden;
  padding-right: 18px;
}

.modal-form-name {
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-part {
  padding-bottom: 10px;
}

.modal-form-text {
  font-size: 12px;
  font-weight: 400;

  color: var(--medium-gray);
}

.modal-form-input-box {
  display: flex;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #21212133;
  border-radius: 4px;
  margin-top: 4px;
}

.modal-form-input-box:focus-within {
  border-color: var(--light-blue);
  fill: var(--light-blue);
}

.modal-form-input-icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
}

.modal-form-input-icon:focus-within {
  fill: var(--light-blue);
}

#modal-form-input {
  width: 448px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-right: 12px;

  border: 0px solid #000000;
}

.modal-form-input:focus-within {
  border-color: #2196f3;
}

.modal-form-part-comment {
  padding-bottom: 20px;
}

.modal-form-input-comment {
  width: 480px;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;

  border: 1px solid #21212133;
}

.modal-form-checkbox {
  display: flex;
  gap: 8px;
  padding-bottom: 30px;
}

.modal-form-checkbox-text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--medium-gray);
}

.modal-form-checkbox-text2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-blue);
  text-decoration: underline;
}

.modal-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background-color: var(--light-blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
}
