.contact {
  display: none;
}

.contact__link {
  font-size: 12px;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:link,
  &:visited {
    color: var(--black-color);
  }

  &:hover {
    color: var(--light-blue);
    fill: var(--light-blue);
    transition-property: color, fill;
    transition-duration: 250ms;
  }
}

.contact__link:hover .contact__icon--mail {
  animation: zoomIn;
  animation-duration: 0.3s;
}

.contact__link:hover .contact__icon--smartphone {
  animation: jackInTheBox;
  animation-duration: 0.5s;
}

.contact__icon--mail {
  width: 14px;
  height: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon--smartphone {
  width: 10px;
  height: 14px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .contact {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
