#nav-document {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 24px;
}

.nav-link-document {
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-site:link,
.nav-link-site:visited,
.nav-link-document:link,
.nav-link-document:visited {
  color: var(--black-color);
}

.nav-link-site:hover {
  color: var(--light-blue);
  transition-property: color;
  transition-duration: 250ms;

  animation: bounceIn;
  animation-duration: 0.7s;
}

.nav-link-document:hover {
  color: var(--light-blue);
  fill: var(--light-blue);
  transition-property: color, fill;
  transition-duration: 250ms;
}

.nav-link-document:hover .nav-link-document-mail-icon {
  animation: zoomIn;
  animation-duration: 0.3s;
}

.nav-link-document:hover .nav-link-document-smartphone-icon {
  animation: jackInTheBox;
  animation-duration: 0.5s;
}

.nav-link-document-mail-icon {
  width: 16px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-document-smartphone-icon {
  width: 10px;
  height: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
