#nav-site {
  color: black;
  font-weight: 500;
  font-size: 14px;
  color: var(--light-blue);
  display: flex;
  gap: 30px;
}

.nav-link-site {
  position: relative;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-site::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--light-blue);
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  border-radius: 4px;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-site:hover::after {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
