.support {
  padding: 20px 0 60px 0;
}

.support__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support__street,
.support__email,
.support__tel {
  font-style: normal;
}

.support__email:link,
.support__email:visited,
.support__tel:link,
.support__tel:visited {
  color: #7d7e84;
}

.support__street:link,
.support__street:visited {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .support {
    padding: 20px 0 0 0;
  }

  .support__address {
    align-items: flex-start;
  }
}
